<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
	<connectionStrings>
		<add name="Inventario" connectionString="Data Source=DESKTOP-2ONR9MM;Initial Catalog=Inventario;Trusted_Connection=true;Integrated Security=false;uid=SA;pwd=@lerDev.sql" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="AppType" value="Inventario"/>
		<add key="AppVersion" value="1.0"/>
		<add key="companyName" value="Smart Connection, CA."/>
		<add key="companyRif" value="J-64646464-4"/>
		<add key="companyAddress" value="Cantaura"/>
		<add key="attempts" value="5"/>
	</appSettings>
</configuration>
