USE [Inventario]
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Select_All]    Script Date: 22/4/2025 10:46:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Users_Select_All]

AS
SET NOCOUNT ON;
BEGIN
	BEGIN TRY
		BEGIN
			SELECT A.*, R.RolName
                     FROM Account A
                          INNER JOIN Rol R ON R.Id = A.RolId
		END
	END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ERROR,
				ERROR_NUMBER() AS ERROR_NRO
		END CATCH;
END